<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionService" class="ru.npv.exam.app.service.impl.LoadQuestionByCsvFileService">
        <constructor-arg name="parsers">
            <list>
                <bean class="ru.npv.exam.app.service.impl.parsers.CloseEndedQuestionParser">
                    <constructor-arg name="separator" value=","/>
                </bean>
                <bean class="ru.npv.exam.app.service.impl.parsers.OpenEndedQuestionParser">
                    <constructor-arg name="separator" value=","/>
                </bean>
                <bean class="ru.npv.exam.app.service.impl.parsers.YesNoQuestionParser">
                    <constructor-arg name="separator" value=","/>
                </bean>
            </list>
        </constructor-arg>
        <constructor-arg name="separator" value=","/>
        <property name="filePath" value="/answers.csv"/>
    </bean>

    <bean id="settingsService" class="ru.npv.exam.app.service.impl.StringPropertiesSinglePathService">
        <constructor-arg name="resourcePath" value="/settings.properties"/>
    </bean>

    <bean id="checkingService" class="ru.npv.exam.app.service.impl.CheckAnswerServiceImpl"/>
</beans>