<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionService" class="ru.npv.exam.app.service.impl.LoadQuestionByCsvFileService">
        <constructor-arg name="parsers">
            <list>
                <bean class="ru.npv.exam.app.service.parsers.CloseEndedQuestionParser"/>
                <bean class="ru.npv.exam.app.service.parsers.OpenEndedQuestionParser"/>
                <bean class="ru.npv.exam.app.service.parsers.YesNoQuestionParser"/>
            </list>
        </constructor-arg>
        <constructor-arg name="separator" value=","/>
        <property name="filePath" value="/answers.csv"/>
    </bean>

    <bean id="settingsService" class="ru.npv.exam.app.service.impl.StringPropertiesSinglePathService">
        <constructor-arg name="resourcePath" value="/settings.properties"/>
    </bean>
</beans>