<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="separator" class="java.lang.String">
        <constructor-arg name="original" value=","/>
    </bean>

    <bean id="questionService" class="LoadQuestionByCsvFileService">
        <constructor-arg name="parsers">
            <list>
                <bean class="CloseEndedQuestionParser">
                    <constructor-arg name="separator" ref="separator"/>
                </bean>
                <bean class="OpenEndedQuestionParser">
                    <constructor-arg name="separator" ref="separator"/>
                </bean>
                <bean class="YesNoQuestionParser">
                    <constructor-arg name="separator" ref="separator"/>
                </bean>
            </list>
        </constructor-arg>
        <constructor-arg name="separator" ref="separator"/>
        <property name="filePath" value="/answers.csv"/>
    </bean>

    <bean id="settingsService" class="StringPropertiesSinglePathService">
        <constructor-arg name="resourcePath" value="/settings.properties"/>
    </bean>

    <bean id="checkingService" class="CheckAnswerServiceImpl">
        <constructor-arg name="questionCheckers">
            <list>
                <bean class="CloseEndedQuestionChecker"/>
                <bean class="OpenEndedQuestionChecker"/>
                <bean class="YesNoQuestionChecker"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="requestService" class="SingleUserConsoleRequestService">
        <constructor-arg name="propertiesService" ref="settingsService"/>
        <constructor-arg name="questionsService" ref="questionService"/>
        <constructor-arg name="checkAnswerService" ref="checkingService"/>
    </bean>
</beans>